<section class="top">
  <div class="row">
    <h1>{{ templateForm.name }}</h1>
  </div>
  <div class="center">
    <div class="left">
      <h3>{{ templateForm.email }} |</h3>
    </div>
    <div class="right">
      <h3>{{ templateForm.phone }}</h3>
    </div>
  </div>
  <div class="link">
    <span
      ><img src="assets/linkedIn.png" />
      <h3>{{ templateForm.url1 }}</h3>
    </span>
    <span>
      <img src="assets/github.png" />
      <h3>{{ templateForm.url2 }}</h3>
    </span>
  </div>
</section>
<section class="container">
  <!-- <div class="header"> -->

  <hr />

  <div class="skills">
    <h2>Skills</h2>

    <ul *ngFor="let skill of templateForm.skills">
      <li>{{ skill }}</li>
    </ul>
  </div>
  <h2>Education</h2>
  <table>
    <tr>
      <th>Degree/Course</th>
      <th>Institution</th>
      <th>Percentage/CGPA</th>
    </tr>
    <tr *ngFor="let skill of templateForm.qualifications">
      <td>{{ skill.title }}</td>
      <td>{{ skill.desc }}</td>
      <td>{{ skill.grade }}</td>
    </tr>
  </table>

  <div class="projects">
    <h2>Projects</h2>
    <ul *ngFor="let pro of templateForm.projects">
      <li>
        <!-- &star; -->
        <h3>{{pro.title }} :</h3>
        <p>{{ pro.desc }}</p>
      </li>
    </ul>
  </div>
  <div class="achievement">
    <h2>Achievements/Hobbies</h2>
    <ul *ngFor="let ach of templateForm.achievements">
      <li>
        <h3>{{ ach.title }}</h3>
      </li>
      <p>{{ ach.description }}</p>
    </ul>
  </div>

  <!-- </div> -->
</section>
<footer></footer>
